/*-------------- select -----------------*/
select{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 345px;
	height: 5rem;
	border-radius: 2.5rem;
	background: #F6F6F6 url(../img/arrow-down.png) no-repeat calc(100% - 26px) center;
	@include font(none, 500, 2rem, 1, #949191);
	text-align: center;
	padding: 0 50px 0 20px;
	text-transform: uppercase;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}