/*-------------- steps-wrap -----------------*/
.steps-wrap{
	margin-top: 100px;

	&__title{
		@include font(none, 500, 3.2rem, 1.2, var(--color-primary));
		text-align: center;
		margin-bottom: 90px;
	}
}

.steps-list{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.step-item{
	width: calc(33.33% - 20px);
	position: relative;

	&:first-child .step-num{
		right: auto;
		left: 30px;
	}

	&:not(:last-child):after{
		content: '';
		display: block;
		width: 254px;
		height: 144px;
		background: url(/assets/img/path6.svg) no-repeat center;
		background-size: contain;
		position: absolute;
		bottom: -12px;
		left: 67%;
	}
}

.step-num{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
	width: 85px;
	height: 85px;
	font-weight: 500;
	line-height: 1;
	color: #fff;
	position: absolute;
	top: 0;
	right: 76px;

	&::before{
		content: '';
		display: block;
		width: 98px;
		height: 86px;
		background: url(/assets/img/frame-small.svg) no-repeat center;
		background-size: contain;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-42%, -50%);
	}

	&__val{
		font-size: 3.2rem;
		position: relative;
	}

	&__label{
		font-size: 2.4rem;
		position: relative;
	}
}

@media (max-width: 767px) {
	.steps-wrap{display: none;}
	
	// .steps-wrap{
	// 	&__title{
	// 		font-size: 2.4rem;
	// 		margin-bottom: 30px;
	// 	}
	// }

	// .steps-list{flex-direction: column;}

	// .step-item{
	// 	width: 100%;
	// 	&::after{display: none;}
	// }
}