.footer{
	background: var(--color-primary);
	color: #fff;
	padding: 34px 0 120px;
	position: relative;

	&::after{
		content: '';
		display: inline-block;
		width: 599px;
		height: 695px;
		background: url(/assets/img/path.svg) no-repeat center;
		background-size: contain;
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.st-width{
		position: relative;
		z-index: 2;
	}

	&__content{
		display: flex;
		justify-content: center;
		gap: 84px;
		padding-left: 162px;
		padding-right: 100px;
		position: relative;

		&::before{
			content: '';
			display: inline-block;
			width: 130px;
			height: 134px;
			background: url(/assets/img/sphere.svg) no-repeat center;
			background-size: contain;
			position: absolute;
			bottom: -71px;
			left: 40px;
		}
	}

	&__info{
		max-width: 406px;

		.btn-white{
			width: 100%;
			margin-top: 24px;
		}
	}

	&__shop{
		@include font(none, none, 2.4rem, 1.2, none);
		text-transform: uppercase;

		a{color: #fff;}
	}

	&__copyright{
		@include font(none, bold, 2rem, 1.1, none);
		margin-top: 28px;
	}
}

.footer-contacts{
	&__item:not(:last-child){margin-bottom: 30px;}

	&__val{
		@include font(none, bold, 3.2rem, 1.2, none);

		a{
			color: #fff;
			text-decoration: none;
		}
	}

	&__label{
		@include font(none, bold, 2rem, 1.2, none);
		margin-top: 2px;
	}
}

@media (max-width: 991px) {
	.footer{
		&::after{display: none;}
		&__content::before{bottom: -185px;}

		&__content{
			gap: 30px;
			padding: 0;
		}

		&__info{width: 320px;}
	}

	.footer-contacts{
		&__val{font-size: 2.8rem;}
	}
}

@media (max-width: 767px) {
	.footer{
		text-align: center;
		background: var(--color-secondary);

		&__content{
			flex-direction: column;
			gap: 45px;
		}

		&__info{
			margin-left: auto;
			margin-right: auto;

			.btn-white{
				margin-top: 50px;
				color: var(--color-secondary);

				&:hover{
					box-shadow: inset 0 -5.4em 0 0 var(--color-secondary-hover);
					color: #fff;
				}
			}
		}

		&__copyright{
			font-size: 1.4rem;
			margin-top: 18px;
		}
	}

	.footer-contacts{
		&__label{font-size: 1.6rem;}
	}
}