.header{
	position: relative;
	z-index: 2;
	
	&__content{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px;
		height: 80px;
		width: 51.65%;
		padding: 20px 0;
	}
}

.main-menu{
	&,
	&__item{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&{
		display: inline-flex;
		align-items: center;
		gap: 52px;
	}

	&__item,
	&__link{
		@include font(none, bold, 1.5rem, 1.2, var(--color-secondary));
		text-transform: uppercase;
		text-decoration: none;
		transition: color 0.2s ease 0s;
	}

	&__link{cursor: pointer;}
	&__link:hover{color: var(--color-secondary-hover);}
}

@media (max-width: 991px) {
	.header{
		&__content{
			width: 70%;
			justify-content: flex-start;
		}
	}

	.main-menu{gap: 20px;}
}

@media (max-width: 767px) {
	.header{
		&__content{
			width: 100%;
			position: relative;
			padding-left: 10px;
		}
	}

	.main-menu{
		display: none;
		background: #fff;
		border-radius: 8px;
		position: absolute;
		top: 25px;
		left: 50px;
		padding: 10px 0;

		&__item{width: 100%;}

		&__link{
			display: block;
			padding: 10px 20px;
		}

		&.open{display: block;}
	}
}