footer.footer
	.st-width
		.footer__content
			.footer-contacts
				.footer-contacts__item
					.footer-contacts__val
						a(href="tel:+78005558163") 8 (800) 555-8-163
					.footer-contacts__label Горячая линия торговой марки


				.footer-contacts__item
					.footer-contacts__val
						a(href="tel:+78462116363") +7 (846) 211-63-63

					.footer-contacts__label Интернет-магазин

				.footer-contacts__item
					.footer-contacts__val
						a(href="mailto:e-com@sampalich.ru") e-com@sampalich.ru

					.footer-contacts__label Интернет-магазин

			.footer__info
				.footer__shop
					a(href="https://palich.ru/") Интернет-магазин

				a(href="#").btn-white Обратная связь

				.footer__copyright Правообладателем ТМ «У Палыча» является ООО «Самарский Трактир». 
					br
					|ИНН 6315502936 | ОГРН 1026300960817
