header.header
	.st-width
		.header__content
			span.ic-hamburger
				span

			ul.main-menu
				li.main-menu__item
					span(data-move="products").main-menu__link.js-link-move Каталог блюд
				li.main-menu__item
					a(href="https://palich.ru/").main-menu__link Интернет-магазин