header.header
	.st-width
		span.ic-hamburger
			span

		ul.main-menu
			li.main-menu__item
				a(href="#menu").main-menu__link Каталог блюд
				a(href="https://palich.ru/").main-menu__link Интернет-магазин

	
